@font-face {
    font-family: 'Roboto Slab';
    src: url('../static/RobotoSlab-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
}
body {
    font-family: 'Roboto Slab', serif;
    font-size: 2vmax;
    color: #FDC116;
    background-color: #003F87;
    display: flex;
}
body > div {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
    body > div {
        width: 40%;
        height: 80%;
    }
}
@media (orientation: portrait) {
    body {
        flex-direction: column;
        align-items: center;
    }
    body > div {
        width: 80%;
        height: 40%;
    }
}
img {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
a:link {
    color: #D6CEBD;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: #E9E9E4;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: #AD9D7B;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #AD9D7B;
    background-color: transparent;
    text-decoration: underline;
}
.pack-container {
    display: flex;
    flex-direction: column;
    gap: 5px;       /* Adds space between the boxes */
    overflow-y: auto;
}
.pack-box {
    padding: 5px;
    box-sizing: border-box;
}
