body {
    font-family: 'Roboto';
    font-size: 3vmax;
    background-color: #D6CEBD;
    color: #243E2C;
    display: flex;
}
@media screen and (min-width: 80rem) {
  .container {
    background-color: #D6CEBD;
    margin: 1em 2em;
    column-count: 2;
  }
}
img {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
div {
    text-align: center;
    display: block;
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
    div {
        width: 40%;
        height: 80%;
    }
}
@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
    div {
        width: 80%;
        height: 40%;
    }
}
h1 {
    font-size: 3vmax;
    text-align: center;
}
a:link {
    color: #515354;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: #858787;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: #232528;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #232528;
    background-color: transparent;
    text-decoration: underline;
}
