@font-face {
    font-family: 'Roboto Slab';
    src: url('../static/RobotoSlab-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
}
body {
    font-family: 'Roboto Slab', serif;
    font-size: 2vmax;
    background-color: #D6CEBD;
    color: #243E2C;
    display: flex;
    margin: 0;
    justify-content: center;
}
body > div {
    text-align: center;
    display: block;
}
img {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
@media (orientation: landscape) {
    body {
        flex-direction: row;
        align-items: flex-start;
    }
    body > div:first-child {
        position: sticky;
        top: 0;
        width: 40%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body > div:last-child {
        width: 40%;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}
@media (orientation: portrait) {
    body {
        flex-direction: column;
        align-items: center;
    }
    body > div {
        width: 80%;
        margin: 2vh 0;
    }
}
a:link {
    color: #515354;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: #858787;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: #232528;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #232528;
    background-color: transparent;
    text-decoration: underline;
}
.troop-container {
    display: flex;
    flex-direction: column;
    gap: 10px;       /* Adds space between the boxes */
    overflow-y: auto;
}
.troop-box {
    padding: 10px;
    box-sizing: border-box;
}
